@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  user-select: none;
}

body {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  background: url('./assets/background.png');
  background-size: auto;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}